<!-- Andrew Perez-Napan -->
<!-- ap16at -->
<!-- Due Date: 2-16-21 -->
<!-- The program in this file is the individual work of Andrew Perez-Napan -->


<!-- table for displaying the reviews of a specific restaurant -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Review Application</title>
</head>
<body>
    <h2 style = "text-align: center;">Reviews for {{ resName }}</h2>
    <table border = 1 style="margin-left: auto; margin-right: auto;">
        <thead>
           <td style = "text-align: center; font-weight: bold;">User</td>
           <td style = "text-align: center; font-weight: bold;">Review</td>
           <td style = "text-align: center; font-weight: bold;">Rating</td>
        </thead>
        
        {% for row in rows %}
           <tr>
              <td>{{row["Username"]}}</td>
              <td>{{row["Review"]}}</td>
              <td> {{ row["Rating"]}}</td>
           </tr>
        {% endfor %}
     </table>
     
     <h5 style="text-align: center;"><a href = "/">Back to Home</a></h5>
</body>
</html>